.chat
  = render 'sidebar'
  .main
    .header
      .left-header
        %p.left-header__name
          Sample Group
        %ul.left-header__members
          Member:
          - @group.users.each do |user|
            %li.member
              = user.name
      .right-header
        = link_to 'Edit'
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__image-mask
          = f.label :image, class: 'form__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'form__hidden'
        = f.submit 'Send', class: 'form__submit'

